@import "tailwindcss";

@font-face {
  font-family: 'DSEG7 Classic';
  src: local('DSEG7 Classic'), url(/fonts/DSEG7Classic-BoldItalic.woff2) format('woff2');
}

@layer utilities {
  .font-sevenseg {
    font-family: 'DSEG7 Classic', monospace;
  }
}

body {
  text-autospace: normal;
}
