---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="fursuit吧·档案馆与时间机器：为了无法忘却的往事"
  description="这里收录了fursuit吧自2011年建吧至2022年的全部110,503条记录，包括那些曾被删除的，是目前可考的最完整版本，也是唯一一份。"
>
  <main class="container lg:max-w-5xl mx-auto px-6 min-h-[calc(100dvh-4.625rem)] flex flex-col">
    <div class="flex-1 flex items-center">
      <header class="w-full max-w-4xl mx-auto flex flex-col lg:flex-row lg:items-center gap-10 lg:gap-12">
        <div class="w-full lg:basis-7/12 shrink-0">
          <h3 class="text-lg text-gray-600 mb-1">fursuit吧：档案馆与时间机器</h3>
          <h1 class="text-4xl mb-6">为了无法忘却的往事</h1>
          <p class="mb-4">这里收录了fursuit吧自建立至2022年的全部110,503条记录，<br>是目前可考的最完整版本，<br>也是唯一一份。</p>
          <div class="border-t border-gray-200 mt-4"></div>
          <p class="my-4">fursuit吧建立于2011年，是国内兽装文化最早的聚集地。</p>
          <p class="mb-4">2017年，一场长达一年的恶意攻击摧毁了这里。<br>建吧早期的记录几乎荡然无存，<br>这些数据，本来已经永久消失了。</p>
          <p>2022年，我们将它们找了回来。</p>
          <div class="border-t border-gray-200 mt-4"></div>
          <p class="mt-4">档案馆收录了每一个曾经存在过的帖子。<br>时间机器让你回到过去任意一刻，亲眼看到当时的样子。</p>
          <div class="mt-6 flex gap-6">
            <a class="bg-gray-200 hover:bg-gray-300 active:bg-gray-400 text-gray-700 px-4 py-2 rounded transition-colors" href="/archive">档案馆</a>
            <a class="bg-blue-700 hover:bg-blue-600 active:bg-blue-800 text-white px-4 py-2 rounded transition-colors" href="/time-machine">时间机器</a>
          </div>
          <p class="text-gray-500 text-sm mt-6 mb-2">这些数据是怎么找回来的？了解<a class="text-sky-700 hover:underline" href="https://catme0w.org/zh-cn/behind-the-scenes/creatio-ex-nihilo/">幕后故事</a></p>
          <p><a class="text-sm text-sky-700 hover:underline" href="/en">English version</a></p>
        </div>
        <div class="w-full lg:basis-5/12">
          <div class="rounded-lg shadow-2xl inline-block mt-6">
            <img class="rounded-lg" src="https://fursuit-static.catme0w.org/images/full/995da51c8701a18b89e2fe58982f07082838fe21.jpg" alt="2015 神州萌兽祭" />
          </div>
          <p class="text-sm lg:text-xs text-gray-500 mt-2">2015神州萌兽祭</p>
        </div>
      </header>
    </div>

    <div>
      <div class="mb-2">
        <a href="https://github.com/CatMe0w/fursuit.catme0w.org" target="_blank" title="GitHub Stars">
          <img
            class="mx-auto"
            src="https://img.shields.io/github/stars/CatMe0w/fursuit.catme0w.org.svg?style=social&label=Star&maxAge=2592000"
            alt="GitHub Stars"
          />
        </a>
      </div>

      <p class="text-gray-500 text-sm mb-4 text-center">with 💖 from <a href="https://catme0w.org" target="_blank" class="underline">catme0w</a></p>
    </div>
  </main>
</BaseLayout>
