---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="fursuit吧·档案馆与时间机器：为了无法忘却的往事"
  description="我们恢复了4294个在fursuit吧被删除的帖子,复原了自2011年起每一天的景象——现在，我们终于可以向您呈现，国内的兽装文化从源头开始，一路走来的旅程。"
>
  <main class="container lg:max-w-5xl mx-auto px-6">
    <header class="flex flex-col lg:flex-row">
      <div class="lg:basis-1/2 shrink-0 lg:px-6">
        <h3 class="text-lg text-gray-600 mb-1 mt-20 lg:mt-28">fursuit吧：档案馆与时间机器</h3>
        <h1 class="text-4xl mb-12">为了无法忘却的往事</h1>
        <p class="mb-3">我们恢复了4294个在fursuit吧被删除的帖子，复原了自2011年起每一天的景象。</p>
        <p>现在，我们终于可以向您呈现，国内的兽装文化从源头开始，一路走来的旅程。</p>
        <div class="mt-8 flex flex-row gap-6">
          <a class="bg-gray-200 hover:bg-gray-300 active:bg-gray-400 text-gray-700 px-4 py-2 rounded transition-colors" href="/archive">档案馆</a>
          <a class="bg-blue-700 hover:bg-blue-600 active:bg-blue-800 text-white px-4 py-2 rounded transition-colors" href="/time-machine">时间机器</a>
        </div>
      </div>
      <div class="lg:m-6">
        <div class="rounded-lg shadow-2xl mt-20 inline-block">
          <img class="rounded-lg" src="https://fursuit-static.catme0w.org/images/full/7c8f0b950a7b0208f16661fe64d9f2d3562cc88f.jpg" alt="2015 神州萌兽祭" />
        </div>
        <p class="text-sm lg:text-xs text-gray-500 mt-4 ml-1">2015神州萌兽祭</p>
      </div>
    </header>

    <div class="mt-24 p-6 rounded-lg bg-gray-50 hidden lg:block">
      <p class="text-lg text-gray-600 text-center">继续往下看，了解我们做了什么。</p>
    </div>

    <div class="flex flex-col md:flex-row gap-6 mt-16 lg:mt-24">
      <div class="flex flex-col gap-3 basis-auto">
        <p class="text-xl mb-3">如果想要寻找国内兽装的起点，<br />那么，fursuit贴吧一定是你最终的目的地。</p>
        <p>
          fursuit
          吧建立于2011年。在那里，你能看到人们是如何一点一滴，从无到有，埋下文明的种子，构筑未来的地基，最终，成就了我们今天所能看到的毛毛们，以及他们和我们所深爱的一切。
        </p>
        <p class="mt-8">本应如此，不是吗？</p>
        <p>直到一件事扰乱了历史的进程。</p>
        <div class="p-5 rounded bg-gray-50 flex flex-col gap-3 my-1 mr-auto">
          <p>2017年6月19日，吧主“混血狼狗”职位被百度撤销。</p>
          <p>2017年6月20日，用户“布偶新世界”宣称对原吧主意外下台的事故负责。</p>
          <p>2017年6月23日，fursuit吧开始遭受爆吧。</p>
          <p>……</p>
          <p>2017年6月至2018年7月，fursuit吧间断遭受爆吧，时间跨度一年有余。</p>
          <p>期间，吧主权力多次更迭，建吧早期的精品贴几乎被全部删除。</p>
        </div>
        <p class="font-bold">象征国内fursuit文化的亚历山大图书馆，在顷刻间被焚毁。我们的历史没有了。</p>
        <p>我们无力追究过往发生的事，也没有资格告诉大家孰对孰错，是非黑白，但我们仍为已成定局的灾难感到无比痛心。</p>
        <p class="mt-8">直到2022年2月，我们来了。</p>
        <p>我们尽最大限度的努力，从fursuit吧提取了完整的数据。所有存在过的帖子，每一条吧务操作日志，我们已将它们尽数复原。</p>
        <p>这就是“档案馆”，你可以在其中浏览自建吧当天开始，到2022年2月为止的，每一个曾经存在过的帖子。</p>
        <a class="bg-gray-200 hover:bg-gray-300 active:bg-gray-400 text-gray-700 px-4 py-2 rounded mr-auto transition-colors" href="/archive">前往档案馆</a>
        <p class="mt-8">真实的亚历山大图书馆已成为传说，无人知晓它实际的样貌。但我们掌握逆转时间的力量，并决定将这份力量无偿分享给你。</p>
        <p>请看“时间机器”，在这个程序中，你将能够通过倒转时间，亲自看到过去fursuit吧的情景——每分每秒，都可以。</p>
        <a class="bg-blue-700 hover:bg-blue-600 active:bg-blue-800 text-white px-4 py-2 rounded mr-auto transition-colors" href="/time-machine">前往时间机器</a>
        <p>我们的第一套全装，第一次兽展，或者第二次，第三次……有太多可以说的了。</p>
        <p>祝愿你在历史中玩得开心。</p>
      </div>
      <div>
        <div class="mt-6 md:mt-0 lg:mx-6 lg:mb-6">
          <div class="rounded-lg shadow-2xl max-w-xl">
            <img
              class="rounded-lg"
              src="https://fursuit-static.catme0w.org/images/full/4386cff9d72a605923becf7b2034349b023bbaa9.jpg"
              alt="2016兽夏祭 角色：火喵"
            />
          </div>
          <p class="text-sm lg:text-xs text-gray-500 mt-4 ml-1">2016兽夏祭<span class="mr-3"></span>角色：火喵</p>
        </div>
        <div class="lg:m-6">
          <div class="rounded-lg shadow-2xl mt-12 lg:mt-20 max-w-xl">
            <img
              class="rounded-lg"
              src="https://fursuit-static.catme0w.org/images/full/6e509b1001e93901a5cd7f7271ec54e737d1963c.jpg"
              alt="角色：呆呆 摄于2017年6月"
            />
          </div>
          <p class="text-sm lg:text-xs text-gray-500 mt-4 ml-1">角色：呆呆<span class="mr-3"></span>摄于2017年6月</p>
        </div>
        <p class="text-lg text-gray-600 text-center mt-12 lg:mt-16">在爆吧开始后…</p>
        <div class="flex flex-col gap-6 mt-6 justify-stretch">
          <div class="p-4 rounded-lg shadow-lg mx-auto ring-1 ring-black/5 text-gray-600">
            <p>超过</p>
            <p><span class="text-3xl text-pink-600">340</span>个</p>
            <p>精品贴被撤销</p>
          </div>
          <div class="p-4 rounded-lg shadow-lg mx-auto ring-1 ring-black/5 text-gray-600">
            <p>超过</p>
            <p><span class="text-3xl text-cyan-600">1000</span>条</p>
            <p>正常讨论被删除</p>
          </div>
          <div class="p-4 rounded-lg shadow-lg mx-auto ring-1 ring-black/5 text-gray-600">
            <p>超过</p>
            <p><span class="text-3xl text-fuchsia-600">600</span>张</p>
            <p>图片或视频随之消失</p>
          </div>
          <div class="p-4 rounded-lg shadow-lg mx-auto ring-1 ring-black/5 text-gray-600">
            <p>还有更多……</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-3 mt-16">
      <p class="text-2xl mb-1">帮助我们传火</p>
      <p>和互联网上的其他网站一样，档案馆和时间机器也是网站。</p>
      <p>
        只要是网站，都可能走向在将来某天倒闭的结局。这是互联网最大的软肋……扯远了，我想告诉你的是，你可以帮助我们传火，把这里的东西传下去，或者你自己收藏一份，再刻到石头上什么的。
      </p>
      <a class="bg-gray-200 hover:bg-gray-300 active:bg-gray-400 text-gray-700 px-4 py-2 rounded mr-auto transition-colors" href="/download">下载数据</a>
    </div>

    <div class="mt-16 p-6 rounded-lg bg-gray-50">
      <p class="text-lg text-gray-600 text-center">好奇我们是谁？想知道我们是如何完成这个项目的？</p>
      <p class="mt-6 text-center mx-4 my-2">
        <a
          target="_blank"
          class="bg-blue-700 hover:bg-blue-600 active:bg-blue-800 text-white px-4 py-2 transition-colors rounded"
          href="https://catme0w.org/zh-cn/behind-the-scenes/creatio-ex-nihilo/"
        >
          幕后故事
        </a>
      </p>
    </div>

    <p class="text-gray-500 text-sm mt-6">
      注：因大部分爆吧机器人已被完全封锁，以及受2019年全贴吧大规模删帖的影响，被删除的4294个帖子中实际只有约3000个可被采集。
    </p>

    <div class="mb-2 mt-10">
      <a href="https://github.com/CatMe0w/fursuit.catme0w.org" target="_blank" title="GitHub Stars">
        <img
          class="mx-auto"
          src="https://img.shields.io/github/stars/CatMe0w/fursuit.catme0w.org.svg?style=social&label=Star&maxAge=2592000"
          alt="GitHub Stars"
        />
      </a>
    </div>

    <p class="text-gray-500 text-sm mb-12 text-center">with 💖 from <a href="https://catme0w.org" target="_blank" class="underline">catme0w</a></p>
  </main>
</BaseLayout>
