---
import ArchiveLayout from "../layouts/ArchiveLayout.astro";
import SearchApp from "../components/SearchApp.svelte";
import SearchSidebar from "../components/SearchSidebar.svelte";

const title = "搜索 - fursuit吧·档案馆与时间机器：为了无法忘却的往事";
const description = "搜索fursuit吧的历史内容";
const pageTitle = "档案馆";
const pageSubtitle = "浏览fursuit吧的所有帖子，包括已删除的内容。";
---

<ArchiveLayout title={title} description={description} pageTitle={pageTitle} pageSubtitle={pageSubtitle} backButton="defer">
  <meta slot="head" name="robots" content="noindex, nofollow" />

  <!-- 主板块占位符 -->
  <div id="search-placeholder" class="bg-gray-50 lg:mx-1 my-2">
    <div class="shadow lg:rounded bg-white min-h-[150vh]"></div>
  </div>

  <SearchApp client:only="svelte" />

  <div slot="sidebar" class="flex flex-col gap-2 mt-2">
    <!-- 搜索侧边栏占位符 -->
    <div id="search-sidebar-placeholder" class="flex flex-col gap-2">
      <div class="rounded shadow bg-white mx-2 lg:mx-1">
        <div class="p-6 flex flex-col">
          <div class="flex flex-row gap-1.5">
            <div class="flex-1 min-w-0 px-2.5 py-1.5 border border-gray-300 rounded text-sm">&nbsp;</div>
            <div class="bg-blue-700 text-white px-4 py-1.5 rounded shrink-0 whitespace-nowrap">搜索</div>
          </div>
        </div>
      </div>
      <div class="rounded shadow bg-white mx-2 lg:mx-1">
        <div class="p-6 flex flex-col gap-5">
          <div class="text-xl">
            搜索其他内容
          </div>
          <div class="text-center flex flex-col gap-3">
            <div class="bg-gray-100 text-gray-600 px-4 py-1.5 rounded block text-center">&nbsp;</div>
            <div class="bg-gray-100 text-gray-600 px-4 py-1.5 rounded block text-center">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>

    <SearchSidebar client:only="svelte" />
  </div>
</ArchiveLayout>
